[submodule "vendor/dawn"]
	path = vendor/dawn
	url = https://github.com/google/dawn.git
[submodule "vendor/glm"]
	path = vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "vendor/spdlog"]
	path = vendor/spdlog
	url = https://github.com/gabime/spdlog.git
